body
  margin: 0
  font-size: 16px

.container
  max-width: 960px
  width: 100%
  margin-right: auto
  margin-left: auto
  font-size: 1rem

.row
  display: block
  margin: 40px 0
  font-size: 1rem

.msg
  color: #e58029

.form-items
  display: inline-block
  margin: 0
  margin-left: 10px

  > input, button
    padding: 10px
    font-size: 1rem
    border: 1px solid
    border-radius: 4px

  > input
    border-color: #CCC

  > button.options__save
    background-color: #0a9b94
    color: #FEFEFE
    border-color: #4dc1bb #1a918a #1a918a #4dc1bb

  > button.options__clear
    background-color: #e87d20
    color: #FEFEFE
    border-color: #e58029 #cc6e1c #cc6e1c #e58029

  > label
    font-size: 1.1rem
