{
  "plugins": [
    ["@babel/transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "browsers": ["latest 2 chrome version"]
        }
      }
    ]
  ]
}
