doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="/main.css")
  body
    .msg
    p This is BrowserAction popup.
  script(src="/index.bundle.js")
