doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="/options.css")
    title yyyymmddesa config
  body
    .msg
    input.options__token(placeholder="トークン" title="トークン")
    button.options__save(type="button") Save Options
  script(src="/options.bundle.js")
