doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title yyyymmddesa config
  body
    .container
      h1 options
      .row
        .msg
      .row
        .form-items
          label esa token
        .form-items
          input.options__token(placeholder="token for esa.io")
        .form-items
          button.options__save(type="button") Save Token
        p.options__description You can get token for esa.io in 
          a(href="https://YOUR-TEAM.esa.io/user/applications" target="_blank"  rel="noopener noreferrer") https://[YOUR-TEAM].esa.io/user/applications
          | .
          br
          | The token is expected to have "read" scope.
      .row
        .form-items
          button.options__clear(type="button") Clear cache
        p.options__description Please click this button if something is wrong.
      .row
        .form-items
          button.options__is-debug(type="button") Debug mode
        p.options__description When Debug mode is "on", developer tool's console shows fetch log.

  script(src="/options.bundle.js")
