doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="/options.css")
    title yyyymmddesa config
  body
    .container
      h2 options
      .row
        .msg
      .row
        .form-items
          label esa token
        .form-items
          input.options__token(placeholder="トークン" title="トークン")
        .form-items
          button.options__save(type="button") Save Options
      .row
        .form-items
          button.options__clear(type="button") Clear cache

      .row
        .form-items
          button.options__is-debug(type="button") Debug mode
  script(src="/options.bundle.js")
